@media (max-width: 1199px)
    .menu
        &_link
            font-size: 13px
        &_item::after
            right: -23px
    .promo
        &_header
            font-size: 50px
        &_subheader
            font-size: 35px 
    .advantages
        .advantages_item
            .item_text
                width: 300px
                font-size: 14px
    .opportunities
        .opportunities_item
            width: 280px
            height: 240px
            .opportunities_text
                font-size: 18px
    .global
        .global_subheader
            font-size: 35px
        .global_text
            font-size: 16px
    footer
        .apps_item
            img
                width: 70px