@media (max-width: 1199px)
    .menu
        &_link
            font-size: 13px
        &_item::after
            right: -23px
    .promo
        &_header
            font-size: 45px
        &_subheader
            font-size: 30px 
    .advantages
        .advantages_item
            .item_text
                width: 300px
                font-size: 14px
    .opportunities
        .opportunities_item
            width: 280px
            height: 240px
            .opportunities_text
                font-size: 18px
    footer
        .footer_nav
            align-items: center
        .apps
            flex-direction: column
            .apps_item
                margin-top: 7px
                &::first-child
                    margin-top: 0
        

//Medium
@media (max-width: 991px)
    .menu
        padding: 13.5px 0
        &_item::after
            right: -11px
    .subheader
        &_logo_text
            font-size: 12px
        &_call
            margin-top: 19px
        &_number
            font-size: 18px
        &_btn
            width: 166px
            height: 40px
    .promo
        &_header
            font-size: 41px
        &_subheader
            font-size: 25px 
        &_text
            font-size: 16px
    .advantages
        &_subheader
            font-size: 37px
        &_item
            flex-direction: column // Разворачиваем главную ось и делаем из row column
            align-items: center
            .item_text
                margin-top: 10px
                text-align: center
    .opportunities
        .opportunities_item
            width: 220px
            height: 220px
            .opportunities_text
                font-size: 16px

//Small
@media (max-width: 767px)
    .header_nav
        .container // Отключаем сетку
            margin: 0
            padding: 0
        .burger
            // Располагаем спены в виде гамбургера 
            display: flex
            flex-direction: column
            justify-content: space-between
            &_active
                cursor: pointer
                // Располагаем спены, которые скрестились, по-центру
                +flex
                span
                    position: absolute
                    &:nth-child(1)
                        transform: rotate(-45deg)
                    &:nth-child(2)
                        transform: translateX(-150%)
                        opacity: 0
                    &:nth-child(3)
                        transform: rotate(45deg) 
                
                
    .menu
        // Располагаем элементы меню так, чтобы они занимали пол экрана (50%) и были списком
        // Анимацию задаем тут, только обработчик события на скрипте
        padding: 32px
        flex-direction: column
        align-items: flex-start
        justify-content: flex-start
        background-color: rgba(0, 0, 0, .9)
        transition: all 0.5s ease-out 

        // Убераем меню из HTML, чтобы сдвинуть его за границы СТ, а потом выдвигать при клике 
        position: fixed
        width: 50% 
        height: 100vh // Весь экран устройства 
        left: -100% // Убираем 
        &_active // Добавляем класс, который будем добавлять JS-ом, чтобы отобразить меню 
            left: 0
        &_link
            font-size: 17px
        &_item
            margin-bottom: 20px
            &::after
                display: none
    
    .subheader
        .xs-hide
            display: none
        .subheader_logo
            img
                width: 100%
        &_number
            //text-align: center
            padding-right: 15px 
            font-size: 16px
            &_mob
                display: block
        &_btn
            margin: 0
            width: 60%
            height: 34px
            font-size: 12px
        .mob 
            display: flex
            flex-direction: column
            align-items: flex-end
            justify-content: space-around
    .promo
        &_header
            font-size: 36px
        &_subheader
            font-size: 22px 
        &_btn
            margin: 0 auto
            margin-top: 69px
    .advantages
        &_subheader
            font-size: 27px
        &_item
            flex-direction: row
            .item_text
                text-align: left
    .opportunities
        .opportunities_subheader
            font-size: 31px
        .opportunities_item
            margin: 32px auto -13px auto
            width: 320px
            height: 280px
            .opportunities_text
                font-size: 20px
    .great_choise
        &_subheader
            font-size: 31px
    .requirements
        &_subheader
            font-size: 31px
    .global
        &_subheader
            font-size: 31px
    footer
        .footer_nav
            flex-direction: column
            align-items: center
            justify-content: space-between
            // Меняем последовательность флексов
            .footer_icons
                margin-top: 20px
                order: 1
            .footer_center
                order: 0 // 0 > 1, поэтому меню первое 
            .apps
                flex-direction: row
                justify-content: center

// Mobile
@media (max-width: 575px)
    // Меняем высоту шапки меню + все вытекающие из того величины 
    header
        height: 30px
    .header_nav
        height: 30px
        .burger
            height: 9px
    .menu
        width: 100%
        top: 30px
    .subheader
        margin-top: 30px
        height: 60px
        &_logo
            &_text
                display: none
        .mob
            align-items: center
        &_number
            margin-top: 11px
            padding: 0
            font-size: 12px
            line-height: 9px
        &_btn
            margin-top: 6px
            width: 116px
            height: 28px
            font-size: 10px
    .promo
        padding: 113px 0 32px 0
        min-height: 400px
        &_header
            font-size: 35px
            line-height: 40px
        &_subheader
            margin-top: 30px
            font-size: 20px 
            line-height: 30px
        &_text
            display: none
        &_btn
            width: 216px
            height: 56px
            font-size: 16px
    .advantages
        padding: 22px 0 50px 0
        &_subheader
            font-size: 16px
            margin-top: 15px
        &_item
            flex-direction: column
            margin-top: 26px
            .item_text
                margin-top: 26px
                min-height: 75px
    .opportunities
        padding: 22px 0 43px 0 
        .opportunities_subheader
            margin-top: 15px
            font-size: 16px
        .opportunities_subheader_text
            margin-top: 11px
            font-size: 14px
        .opportunities_item
            width: 290px
            height: 254px
            .opportunities_text
                font-size: 18px
    .great_choise
        padding: 25px 0 33px 0
        min-height: 390px
        // Ставим новый бек (адаптированную картинку)
        background: url(../img/backgrounds/great_choise_mob.jpg) center (center/cover) no-repeat
        &_subheader
            display: none
            &_text
                display: none
        &_text
            margin-top: 248px
            font-size: 17px
            color: $white_color
    .requirements
        padding: 25px 0 26px 0 
        &_subheader
            margin-top: 15px
            font-size: 18px
        .requirements_item
            margin: 22px 0 10px 0 
        .red
            margin: 30px 0 2px 0
    .global
        min-height: 360px
        padding: 25px 0 30px 0
        background: url(../img/backgrounds/around_the_world_mob.jpg) center (center/cover) no-repeat
        &_subheader
            margin-top: 15px
            font-size: 18px
        &_text
            margin-top: 10px
            font-size: 14px
        .global_action_text
            margin-top: 186px
    footer
        padding: 25px 0 20px 0
        &::before
            top: 25px
        .footer_nav
            margin-top: 26px
            .footer_center
                width: 320px
                .footer_menu
                    .footer_menu_link
                        font-size: 14px
                .grey 
                    // переносим с помощью врапа и сдвигаем для переноса паддингом
                    flex-wrap: wrap
                    padding: 0 40px
                    .footer_menu_link
                        line-height: 22px
                        font-size: 11px
                .language
                    margin-top: 13px


    