// Задаем цвет в переменную
$white_color: #ffffff
$black_color: #000000
$black_headings: #222222


// Записываем мексины:
/** @mexin blue_button() 
    background-image: linear-gradient(0.0deg, #1eacc7 0%, #4ce2ff 100%)
    border: none
    border-radius: 4px
    box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.2)
    font-weight: 400
    text-transform: uppercase
    color: $white_color **/

/** @mexin flex()
    display: flex
    justify-content: center
    align-items: center **/

 
*
    font-family: 'Roboto' 
    font-style: sans-serif

header
    position: relative

/** Стилизируем меню **/
nav
    height: 51px
    background-color: #212121

    .menu
        padding: 13.5px 71px 
        margin: 0
        list-style-type: none

        display: flex
        justify-content: space-between

        .menu_link
            font-size: 15px
            font-weight: 300
            color: $white_color

        .menu_item
            border-right: 2px dotted yellow
            padding-right: 28px 

/** Стилизируем Сабхедер **/
.subheader 
    height: 84px
    background-color: rgba(0,0,0,0.6)
    // Устанавливаем абсолют и ширину 100% от родителя, Чтобы наложилось на фон
    position: absolute
    width: 100%

    .subheader_logo
        display: block
        margin-top: 16px

    .subheader_logo_text
        margin-top: 6px
        opacity: 0.5
        font-size: 13px
        font-weight: 100
        color: $white_color

    .subheader_call
        margin-top: 23px
        text-align: right
        font-size: 12px
        font-weight: 300
        color: $white_color

    .subheader_number
        margin-top: 8px
        display: block // Делаем блок, чтобы выровнять текст
        text-align: right
        line-height: 16px // Чтобы контент был четко по рамкам блока - ставим высоту строки = высоте блока с текстом из макета 
        
        font-size: 22px
        font-weight: 400
        text-transform: uppercase
        color: $white_color
        
        .dot
            display: inline-block
            margin: 6px 0 6px 0
            width: 4px
            height: 4px
            background-color: $white_color
            border-radius: 2px

    .subheader_btn
        margin: 19px 0 19px 0 
        width: 172px
        height: 46px
        font-size: 14px
        // То, что будет лежать в мексине:
        background-image: linear-gradient(0.0deg, #1eacc7 0%, #4ce2ff 100%)
        border: none
        border-radius: 4px
        box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.2)
        font-weight: 400
        text-transform: uppercase
        color: $white_color

        
       

// Секция ПРОМО
.promo
    background-image: url(../img/backgrounds/first_screen.jpg)
    height: 748px
    padding: 151px 0 135px 0
    .promo_header
        font-size: 60px
        font-weight: 900
        text-transform: uppercase
        color: $white_color
        text-align: center
        line-height: 57px
    .promo_subheader
        font-size: 36px
        font-weight: 700
        text-transform: uppercase
        color: $white_color
        text-align: center
        margin: 8px 0 0 0
        line-height: 40px
    .promo_text
        font-size: 18px
        line-height: 24px
        font-weight: 400
        color: $white_color
        text-align: center
        margin-top: 23px
        min-width: 955px 
    .promo_btn
        display: block
        margin: 118px auto
        width: 259px
        height: 63px
        font-size: 18px
        // Мексина:
        background-image: linear-gradient(0.0deg, #1eacc7 0%, #4ce2ff 100%)
        border: none
        border-radius: 4px
        box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.2)
        font-weight: 400
        text-transform: uppercase
        color: $white_color


// Секция Преимущества
.advantages
    padding: 71px 0 65px 0 
    .advantages_header
        width: 112px
        height: 24px
        background-color: $black_color
        margin: 0 auto
        // Мексина: флекс
        display: flex
        justify-content: center
        align-items: center
        div
            font-size: 11px
            font-weight: 100
            text-transform: uppercase
            color: $white_color
    .advantages_subheader
        font-size: 38px
        font-weight: 700
        text-transform: uppercase
        color: $black_headings    
        margin-top: 38px
        text-align: center
    
    .advantages_item
        display: flex
        justify-content: space-around
        align-items: center
        margin-top: 40px
        .advantages_icon
            width: 113px
            height: 113px
            background-color: #1eacc7
            border-radius: 56.5px
            // Мексина: флекс
            display: flex
            justify-content: center
            align-items: center
        .advantages_text
            width: 341px
            height: 141px
            span
                font-size: 17px
                line-height: 21px
                font-weight: 400
                color: #1eacc7
            font-size: 15px
            font-weight: 300
            color: #202020
            
        
               