// Задаем цвет в переменную
$white_color: #ffffff
$black_color: #000000
$black_headings: #222222


// Записываем мексины:
/** @mexin blue_button() 
    background-image: linear-gradient(0.0deg, #1eacc7 0%, #4ce2ff 100%)
    border: none
    border-radius: 4px
    box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.2)
    font-weight: 400
    text-transform: uppercase
    color: $white_color **/

/** @mexin flex()
    display: flex
    justify-content: center
    align-items: center **/

 
*
    font-family: Roboto, sans-serif
    

header
    position: relative
    height: 51px

/** Стилизируем меню **/
nav
    height: 51px
    background-color: #212121

    // Липкая шапка
    position: fixed
    width: 100%
    z-index: 2

    .menu
        padding: 13.5px 71px 
        margin: 0
        list-style-type: none

        display: flex
        justify-content: space-between

        .menu_link
            font-size: 15px
            font-weight: 300
            color: $white_color

        .menu_item
            border-right: 2px dotted yellow
            padding-right: 28px 

/** Стилизируем Сабхедер **/
.subheader 
    margin-top: 51px
    height: 84px
    background-color: rgba(0,0,0,0.6)
    // Устанавливаем абсолют и ширину 100% от родителя, Чтобы наложилось на фон
    position: absolute
    width: 100%

    .subheader_logo
        display: block
        margin-top: 16px

    .subheader_logo_text
        margin-top: 6px
        opacity: 0.5
        font-size: 13px
        font-weight: 100
        color: $white_color

    .subheader_call
        margin-top: 23px
        text-align: right
        font-size: 12px
        font-weight: 300
        color: $white_color

    .subheader_number
        margin-top: 8px
        display: block // Делаем блок, чтобы выровнять текст
        text-align: right
        line-height: 16px // Чтобы контент был четко по рамкам блока - ставим высоту строки = высоте блока с текстом из макета 
        
        font-size: 22px
        font-weight: 400
        text-transform: uppercase
        color: $white_color
        
        .dot
            display: inline-block
            margin: 6px 0 6px 0
            width: 4px
            height: 4px
            background-color: $white_color
            border-radius: 2px

    .subheader_btn
        margin: 19px 0 19px 0 
        width: 172px
        height: 46px
        font-size: 14px
        // То, что будет лежать в мексине:
        background-image: linear-gradient(0.0deg, #1eacc7 0%, #4ce2ff 100%)
        border: none
        border-radius: 4px
        box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.2)
        font-weight: 400
        text-transform: uppercase
        color: $white_color

        
       

// Секция ПРОМО
.promo
    background: url(../img/backgrounds/first_screen.jpg) center (center / cover) no-repeat
    min-height: 748px
    padding: 151px 0 135px 0
    .promo_header
        font-size: 60px
        font-weight: 900
        text-transform: uppercase
        color: $white_color
        text-align: center
        line-height: 57px
    .promo_subheader
        font-size: 36px
        font-weight: 700
        text-transform: uppercase
        color: $white_color
        text-align: center
        margin: 8px 0 0 0
        line-height: 40px
    .promo_text
        font-size: 18px
        line-height: 24px
        font-weight: 400
        color: $white_color
        text-align: center
        margin-top: 23px
        min-width: 955px 
    .promo_btn
        display: block
        margin: 118px auto
        width: 259px
        height: 63px
        font-size: 18px
        // Мексина:
        background-image: linear-gradient(0.0deg, #1eacc7 0%, #4ce2ff 100%)
        border: none
        border-radius: 4px
        box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.2)
        font-weight: 400
        text-transform: uppercase
        color: $white_color


// Секция Преимущества
.advantages
    padding: 71px 0 65px 0 
    .advantages_header
        width: 112px
        height: 24px
        background-color: $black_color
        margin: 0 auto
        // Мексина: флекс
        display: flex
        justify-content: center
        align-items: center
        div
            font-size: 11px
            font-weight: 100
            text-transform: uppercase
            color: $white_color
    .advantages_subheader
        font-size: 38px
        font-weight: 700
        text-transform: uppercase
        color: $black_headings    
        margin-top: 38px
        text-align: center
    
    .advantages_item
        display: flex
        justify-content: space-around
        align-items: center
        margin-top: 40px
        .advantages_icon
            width: 113px
            height: 113px
            background-color: #1eacc7
            border-radius: 56.5px
            // Мексина: флекс
            display: flex
            justify-content: center
            align-items: center
        .advantages_text
            width: 341px
            height: 141px
            span
                font-size: 17px
                line-height: 21px
                font-weight: 400
                color: #1eacc7
            font-size: 15px
            font-weight: 300
            color: #202020


// Секция Мобильное приложение
.opportunities
    min-height: 864px
    padding: 48px 0 80px 0 
    background: url(../img/backgrounds/uber_app.jpg) center (center / cover) no-repeat
    .opportunities_header
        width: 112px
        height: 24px
        background-color: $black_color
        margin: 0 auto
        font-size: 11px
        font-weight: 100
        text-transform: uppercase
        color: $white_color 
        // Мексина: флекс
        display: flex
        justify-content: center
        align-items: center
           
    .opportunities_subheader
        line-height: 27px
        font-size: 38px
        font-weight: 700
        text-transform: uppercase
        color: $black_headings
        margin: 38px 0 0 0
        text-align: center
    .opportunities_subheader_text
        font-size: 17px
        font-weight: 400
        color: $black_headings
        margin-top: 19px 
        text-align: center 

    // Стилищируем блоки с картинками
    .opportunities_item
        width: 320px
        height: 280px
        margin: 32px 67px -13px 0
        padding: 91px 0 35px 0
        position: relative

        // Добавляем задний фон с помощью & и доп названия второго класса для КАЖДОГО элема
        &_one_click
            background: url(../img/pic/uber_mobile_app/one_click.jpg) center (center / cover) no-repeat
        &_reliability
            background: url(../img/pic/uber_mobile_app/reliability.jpg) center (center / cover) no-repeat
        &_clear_prices
            background: url(../img/pic/uber_mobile_app/clear_prices.jpg) center (center / cover) no-repeat
        &_payments
            background: url(../img/pic/uber_mobile_app/cashless_payments.jpg) center (center / cover) no-repeat
        &_feedback
            background: url(../img/pic/uber_mobile_app/feedback.jpg) center (center / cover) no-repeat
        &_devide_price
            background: url(../img/pic/uber_mobile_app/devide_price.jpg) center (center / cover) no-repeat

        .opportunities_text
            font-size: 24px
            line-height: 31px
            font-weight: 400
            text-transform: uppercase
            color: $white_color
            text-align: center
        .opportunities_plus
            width: 26px
            height: 26px
            background-color: $black_color
            border-radius: 13px
            cursor: pointer
            // Мексина: флекс 
            display: flex
            justify-content: center
            align-items: center
            // Устанавливаем плюс всегда снизу блока, с помощью Абсолютного позиционирования
            position: absolute
            bottom: 35px
            left: 50% // отодвигаем на 50% родителя - в центр
            // При смещении на 50%, элем размещается не по центру, а чуть правее - начиная со второй половины
            transform: translateX(-50%) // Сдвигаем элемем по Х на 50% его ширины обратно, чтобы он встал точно по-центру 


// Секция Выбор - отличная штука
.great_choise
    min-height: 896px
    padding: 56px 0 138px 0 
    background: url(../img/backgrounds/great_choise_bg.jpg) center (center / cover) no-repeat
    .great_choise_header
        width: 112px
        height: 24px
        background-color: $white_color
        margin: 0 auto
        font-size: 11px
        font-weight: 100
        text-transform: uppercase
        color: #070716
        // Мексина: флекс
        display: flex
        justify-content: center
        align-items: center
    .great_choise_subheader
        line-height: 27px
        font-size: 38px
        font-weight: 700
        text-transform: uppercase
        color: $white_color
        text-align: center
        margin: 32px 0 0 0
    .great_choise_subheader_text
        font-size: 17px
        font-weight: 400
        color: $white_color
        text-align: center
        margin-top: 19px
    img
        margin-top: 56px
    .great_choise_text
        font-size: 17px
        line-height: 24px
        font-weight: 300
        color: $black_headings
        text-align: center
        width: 297px
        margin: 0 auto
        margin-top: 4px 